<!-- <header> -->
<nav class="navbar bg-body-tertiary fixed-top">
	<div class="container-fluid max-width">
		<a class="navbar-brand" routerlink="/" href="#home">
			<img src="./../../assets/icons/logo-portfolio.png" alt="my logo" />
		</a>

		<div class="links-btn-container">
			<div class="links-container">
				<a class="nav-link active" routerLink="/" routerLinkActive="active">HOME</a>
				<a class="nav-link" href="#about" routerLinkActive="active">ABOUT ME</a>
				<a class="nav-link" href="#portfolio" routerLinkActive="active">PORTFOLIO</a>
			</div>

			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasNavbar"
				aria-controls="offcanvasNavbar"
				aria-label="Toggle navigation"
			>
				<svg width="20" height="11" viewBox="0 0 20 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<rect width="20" height="3" fill="currentColor" />
					<rect x="6" y="8" width="14" height="3" fill="currentColor" />
				</svg>
			</button>
		</div>

		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<a class="nav-link" routerLink="/" routerLinkActive="active">HOME</a>
					<a class="nav-link" href="#about" routerLinkActive="active">ABOUT ME</a>
					<a class="nav-link" href="#portfolio" routerLinkActive="active">PORTFOLIO</a>
				</ul>
			</div>
		</div>
	</div>
</nav>
