@import 'variables';

app-header {
	overflow: hidden;
}

* {
	text-decoration: none !important;
}

.openSideMenu {
	transition: all 125ms ease-in-out;
	transform: translateX(0) !important;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	height: 64px;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	box-shadow: 0 1px 3px #fff3;
	z-index: 999999;

	.container-fluid {
		padding-left: 1rem;
		padding-right: 1rem;

		.navbar-brand {
			img {
				height: 35px;
				object-fit: cover;
				cursor: pointer;
			}
		}

		.links-btn-container {
			display: flex;
			gap: 24px;

			.links-language-btn-container {
				display: flex;
				justify-content: flex-start;
				gap: 24px;

				.links-container {
					display: none;
					gap: 60px;
					align-items: center;

					a {
						color: #fff;
						text-decoration: none;
						transition: all 125ms ease-in-out;

						&:hover {
							color: $pink;
							transition: all 125ms ease-in-out;
						}
					}
				}

				.language-btns-container {
					border-radius: unset;
					border: none;

					* {
						line-height: 0px !important;
					}
					.language-btn {
						display: flex;
						align-items: center;
						height: 36px !important;
						background-color: grey !important;
						border: 1px solid white !important;
						border: none !important;

						&:hover {
							background-color: $green !important;
							color: $pink;
						}
					}

					.selectedLanguage {
						background-color: $green !important;
						color: $pink;
					}
				}
			}

			button {
				padding: 0;

				svg {
					display: block;
					transition: all 125ms ease-in-out;
					color: white;

					&:hover {
						color: #fa2759;
						transition: all 125ms ease-in-out;
						cursor: pointer;
					}
				}
			}
		}

		.sideMenu {
			display: flex;
			gap: 24px;
			position: absolute;
			top: 64px;
			right: 0;
			padding: 48px 24px;
			border: 2px solid white;
			border-right: unset;
			background-color: black;
			border-radius: 10px 0 0 10px;
			transition: all 125ms ease-in-out;
			transform: translateX(170px);
			z-index: 1;

			.navbar-nav {
				display: flex;
				flex-direction: column;
				gap: 24px;
				align-items: flex-end;

				a {
					color: white;

					&:hover {
						color: $pink;
					}
				}
			}

			.btn-close {
				position: absolute;
				top: 36px;
				right: 24px;
				background-color: white !important;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	nav {
		padding-right: 132.38px;
		padding-left: 132.38px;
		height: 86px;
	}

	.container-fluid {
		padding: 0;
	}

	.links-container {
		display: flex !important;
	}

	.navbar-toggler {
		display: none;
	}

	.sideMenu {
		display: none !important;
	}
}
