<footer>
	<div class="inner-container max-width">
		<div class="profiles-link-container">
			<a
				href="https://www.linkedin.com/in/christian-greenfield-a336b8225/"
				target
			>
				<img
					src="../../assets/icons/linkedIn.png"
					title="linkedIn"
					alt="linkedIn"
				/>
			</a>

			<a href="https://www.xing.com/profile/Christian_Greenfield/cv">
				<img
					src="../../assets/icons/xing.png"
					title="xing"
					alt="xing"
					target
				/>
			</a>

			<a href="https://github.com/GreenfieldC">
				<img
					src="../../assets/icons/github.png"
					title="github"
					alt="github"
					target
				/>
			</a>
		</div>

		<div class="imprint-legal-notice-container">
			<a routerLink="/imprint" title="imprint">Imprint</a> &bull;
			<a routerLink="/legal-notice" title="legal notice">Legal notice</a>
		</div>

		<span>&copy;2023 by Christian Greenfield</span>
	</div>
</footer>
