<footer>
	<div class="inner-container max-width">
		<div class="profiles-link-container">
			<a href="https://www.linkedin.com/in/christian-greenfield-a336b8225/">
				<img src="../../assets/icons/linkedIn.png" title="linkedIn" alt="linkedIn" />
			</a>

			<a href="https://github.com/GreenfieldC">
				<img src="../../assets/icons/github.png" title="github" alt="github" />
			</a>
			<a href="https://www.xing.com/profile/Christian_Greenfield/cv">
				<img src="../../assets/icons/xing.png" title="xing" alt="xing" />
			</a>
		</div>

		<div class="imprint-legal-notice-container">
			<a title="imprint" href="imprint">Imprint</a> -
			<a title="legal notice" href="legal-notice">Legal Notice</a>
		</div>

		<span>&copy;2023 by Christian Greenfield</span>
	</div>
</footer>
