<div class="section about">
	<div class="inner-container max-width">
		<div class="info-header">
			<img
				data-aos="fade-right"
				class="profile-image"
				src="./../../assets/images/Bewerbungsphoto_klein-min.png"
				alt=""
			/>

			<div data-aos="fade-left" class="subtitle-quotation-container">
				<h2>About me.</h2>
				<p>"I'm a husband, father, musician and I enjoy learning and so forth bla bla"</p>
			</div>
		</div>
		<hr />
		<div class="info-body">
			<div class="post" data-aos="fade-up">
				<div class="badge">
					<img class="badges-icon" src="./../../assets/icons/walking-person.png" alt="walking person" />
				</div>
				<h3>MY JOURNEY BEGAN</h3>
				<p>
					"In spring 2022, I began teaching myself JS, HTML, and CSS online through tutorials. After achieving
					my first milestones, I became convinced that coding is something I would like to pursue as a
					career."
				</p>
			</div>

			<div class="post" data-aos="zoom-in-up">
				<div class="badge">
					<img class="badges-icon" src="./../../assets/icons/heart.png" alt="heart" />
				</div>
				<h3>FIRST EXPERIENCES</h3>
				<p>
					"In spring 2022, I began teaching myself JS, HTML, and CSS online through tutorials. After achieving
					my first milestones, I became convinced that coding is something I would like to pursue as a
					career."
				</p>
			</div>

			<div class="post" data-aos="zoom-in-up">
				<div class="badge">
					<img class="badges-icon" src="./../../assets/icons/magnifying-glass.png" alt="heart" />
				</div>
				<h3>FIRST EXPERIENCES</h3>
				<p>
					"In spring 2022, I began teaching myself JS, HTML, and CSS online through tutorials. After achieving
					my first milestones, I became convinced that coding is something I would like to pursue as a
					career."
				</p>
			</div>

			<div class="post" data-aos="zoom-in-up">
				<div class="badge">
					<img class="badges-icon" src="./../../assets/icons/plane.png" alt="heart" />
				</div>
				<h3>FIRST EXPERIENCES</h3>
				<p>
					"In spring 2022, I began teaching myself JS, HTML, and CSS online through tutorials. After achieving
					my first milestones, I became convinced that coding is something I would like to pursue as a
					career."
				</p>
			</div>
		</div>
	</div>
</div>
