@import 'variables';

.inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;

	.info-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 50px;
		padding-right: 50px;

		.profile-image {
			height: 157px;
			width: 157px;
			border-radius: 50%;
		}
		.subtitle-quotation-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h2 {
				padding-top: 2rem;
			}

			p {
				text-align: center;
				color: white;
				max-width: 232px;
			}
		}
	}

	.info-body {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 80px 50px 64px 50px;

		.badge {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 79px;
			height: 79px;
			border-radius: 50%;
			background-color: $secondary-color;
		}

		.post {
			display: flex;
			gap: 22px;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			img {
				height: 20px;
				width: auto;
			}

			h3 {
				text-align: center;
				padding: unset;
				margin: unset;
			}

			p {
				text-align: center;
				max-width: 232px;
			}
		}

		* {
			color: white;
		}
	}
}

@media screen and (min-width: 801px) {
	.about {
		background-color: $background-dark-grey !important;
		padding-left: 132.38px;
		padding-right: 132.38px;
		width: 100%;
	}

	.info-header {
		flex-direction: row !important;
		align-items: flex-start !important;
		justify-content: space-around !important;
		gap: 50px;
		padding-bottom: 66px;
		width: 100%;
		max-width: 1000px;

		p {
			max-width: 400px;
		}
	}

	hr {
		width: 100%;
		border: 1px solid $secondary-color;
	}

	h2 {
		padding-top: unset !important;
	}

	p {
		font-size: 18px !important;
		line-height: 28px;
	}
}
