<div class="section about">
	<div class="inner-container max-width">
		<div class="info-header">
			<img
				data-aos="fade-right"
				class="profile-image"
				src="./../../assets/images/about-img.png"
				alt=""
			/>

			<div data-aos="fade-left" class="subtitle-quotation-container">
				<h2>About me.</h2>
				<p>
					"I'm a frontend developer from Erlangen, Germany with
					experience in building web applications using JavaScript and
					Angular."
				</p>
			</div>
		</div>
		<hr />
		<div class="info-body">
			<div
				*ngFor="let post of posts; let i = index"
				class="post"
				data-aos="fade-up"
			>
				<div class="badge">
					<img
						class="badges-icon"
						src="./../../assets/icons/{{ post.img }}.png"
						alt="{{ post.img }}"
					/>
				</div>
				<h3>{{ post.title }}</h3>
				<p>{{ post.note }}</p>
			</div>
		</div>
	</div>
</div>
