<section>
	<div class="container">
		<div class="contact-heading">
			<h1 class="m-0 green">Contact me</h1>
			<span>
				Get in touch via the form below, or by emailing

				<a href="mailto:christiangreenfield@web.de">
					<span class="green">christiangreenfield@web.de</span>
				</a>
			</span>
		</div>

		<form (submit)="sendEmail()" method="post" #myForm ngNativeValidate>
			<label>Name</label>
			<input #nameField name="name" placeholder="Enter your name *" matInput required />

			<label>Email address</label>
			<input
				#emailField
				name="email"
				matInput
				placeholder="Enter your email address *"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
				required
			/>

			<label>Message</label>
			<textarea #messageField name="message" placeholder="Enter your text *" matInput required></textarea>

			<button #sendButton mat-stroked-button color="warn">Send</button>
			<!-- <mat-spinner></mat-spinner> -->
		</form>
	</div>
</section>

<!-- <input matInput placeholder="Enter your email address *" [formControl]="email" required /> -->
