<div class="section">
	<div class="container">
		<div class="contact-heading">
			<h1 class="m-0 green">Contact me</h1>
			<span>
				Get in touch via the form below, or by emailing

				<a href="mailto:christiangreenfield@web.de">
					<span class="green">christiangreenfield@web.de</span>
				</a>
			</span>
		</div>

		<form (submit)="sendEmail()" method="post" #myForm ngNativeValidate>
			<label>Name</label>
			<input
				#nameField
				name="name"
				pattern="([a-zA-ZäöüÄÖÜß]+\s+){1,10}([a-zA-ZäöüÄÖÜß]+)"
				placeholder="Please enter your first and last name *"
				title="Please enter your first and last name, please."
				matInput
				required
			/>

			<label>Email address</label>
			<input
				#emailField
				name="email"
				matInput
				placeholder="Enter your email address *"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
				required
			/>

			<label>Message</label>
			<textarea
				#messageField
				name="message"
				placeholder="Enter your text *"
				matInput
				required
			></textarea>

			<button #sendButton>Send</button>
		</form>
	</div>
</div>

<!-- <input matInput placeholder="Enter your email address *" [formControl]="email" required /> -->
