<div id="portfolio" class="section my-work">
	<h2>My work</h2>

	<div class="projects-outer-container">
		<div class="btns-container">
			<button mat-stroked-button color="warn">All</button>
			<button mat-stroked-button color="warn">Angular</button>
			<button mat-stroked-button color="warn">Java Script</button>
		</div>

		<div class="projects-container">
			<img src="./../../assets/images/test-project.png" alt="" />
			<img src="./../../assets/images/test-project.png" alt="" />
			<img src="./../../assets/images/test-project.png" alt="" />
			<img src="./../../assets/images/test-project.png" alt="" />
		</div>
	</div>
</div>
