@import 'variables';

.projects-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btns-container {
	display: flex;
	gap: 5px !important;

	button {
		background-color: transparent;
		border-radius: unset;
		border: 2px solid $primary-color;
		color: white;
		line-height: 1;
		flex-basis: 100%;

		&:hover,
		&:focus,
		&:active {
			background-color: $primary-color;
		}
	}
}

.projects-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 26px;
	padding-top: 28px;
	max-width: 630px;
}

@media screen and (min-width: 320px) {
	button {
		width: 91px !important;
		height: 50px !important;
	}
}

@media screen and (min-width: 801px) {
	.projects-container {
		padding-bottom: 96px;
	}

	button {
		min-width: 128px !important;
		height: 70px !important;
		font-size: 18px;
	}
}
