.inner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 63px;
}

.profile-image {
	height: 157px;
	width: 157px;
	border-radius: 50%;
	background-color: #2dfcd8;
}

.greeting-text-container {
	/* padding: 0 29px; */
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 45px;
		color: #ffffff;
	}
}

.pink {
	color: #fa2759;
}

.green {
	color: #2dfcd8;
}

.contact-btn {
	width: 280px;
	height: 78px;
	border: 2px solid #2dfcd8;
	border-radius: unset;
	color: #2dfcd8;
	margin-top: 2rem;

	&:hover {
		background-color: #2dfcd8;
		color: black;
	}

	&:active {
		background-color: #2dfcd8 !important;
		color: black;
	}
}

@media screen and (min-width: 320px) {
	.contact-btn {
		width: 300px;
	}
}

@media screen and (min-width: 480px) {
	h1 {
		font-size: 2rem !important;
	}
}

@media screen and (min-width: 801px) {
	.image-greeting-container {
		padding-bottom: 253px;
	}

	h1 {
		font-size: 2.5rem !important;
		line-height: 90px;
	}

	.profile-image {
		height: 250px;
		min-width: 250px;
	}
}

@media screen and (min-width: 1025px) {
	.image-greeting-container {
		display: flex;
		justify-content: center;
		padding-top: 121px;
		padding-right: 182px;
		padding-left: 132.38px;
		height: calc(100vh - 64px);
	}

	.inner-container {
		flex-direction: row-reverse !important;
		align-items: unset;
		justify-content: space-between !important;
		width: 100%;
	}

	.greeting-text-container {
		align-items: flex-start;
	}
}

@media screen and (min-width: 1281px) {
	h1 {
		font-size: 4rem !important;
		line-height: 90px !important;
	}

	.profile-image {
		height: 300px;
		min-width: 300px;
	}
}
