<div class="image-greeting-container">
	<div class="inner-container max-width">
		<img class="profile-image" src="./../../assets/images/main_photo_background_transparent.png" alt="" />

		<div class="greeting-text-container">
			<h1>
				Hi,<br />I'm <span class="pink">Christian</span> Greenfield,<br />Front End Develop<span class="green"
					>e</span
				>r
			</h1>
			<button type="button" class="btn btn-outline-info contact-btn">Contact me</button>
		</div>
	</div>
	<div class="btn-container">
		<a href="#skills">
			<img
				class="btn-arrow-down"
				src="./../../assets/icons/arrow-down-btn.svg"
				alt=""
				title="Click here to scroll to my skill section"
			/>
		</a>
	</div>
</div>
