.container {
	display: flex;
	justify-content: center;
	width: 100% !important;
	padding: unset;
	margin: unset;

	img {
		transform: rotate(180deg);
		cursor: pointer;
	}
}

@media screen and (min-width: 480px) {
	.container {
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 1025px) {
	.section {
		padding-left: 132.38px;
		padding-right: 132.38px;
	}
}
