<div class="section imprint">
	<div class="max-width">
		<h1>Impressum</h1>
		<h2>Angaben gemäß § 5 TMG:</h2>
		<p><br />Christian Greenfield</p>
		<h3>Postanschrift:</h3>
		<p>
			Hutgraben 7c<br />
			91058 Erlangen<br />
		</p>
		<h3>Kontakt:</h3>
		<p>E-Mail: christiangreenfield@web.de</p>
		<p></p>

		<p></p>
		<p><br /></p>
		<p></p>
		<h2>Hinweise zur Website</h2>
		<p></p>
		<h3>Urheberrechtliche Hinweise</h3>
		<p>https://remixicon.com/ <br />https://icons8.de/ <br />https://worldvectorlogo.com/de/logo/scrum-1<br /></p>
		<p></p>
		<h2>Information gemäß § 36 VSBG</h2>
		<p>
			Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz - Gesetz über die alternative Streitbeilegung in
			Verbrauchersachen) erklärt der Betreiber dieser Website:
		</p>
		<p>
			Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer
			Verbraucherschlichtungsstelle teilzunehmen.
		</p>
		<p></p>
		<p>
			<span
				>Das Impressum wurde mit dem
				<a href="https://www.activemind.de/datenschutz/impressums-generator/"
					>Impressums-Generator der activeMind AG</a
				>
				erstellt.</span
			>
		</p>
	</div>
</div>
